USE [ditgas_db]
GO
/****** Object:  Table [dbo].[sheqms_safety_talk]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sheqms_safety_talk](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [varchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
	[tipe] [varchar](max) NOT NULL,
 CONSTRAINT [PK_sheqms_safety_talk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sheqms_safety_talk] ON
INSERT [dbo].[sheqms_safety_talk] ([id], [filename], [date], [tipe]) VALUES (1, N'benchbook.pdf', CAST(0x0000A235016E64E0 AS DateTime), N'file')
INSERT [dbo].[sheqms_safety_talk] ([id], [filename], [date], [tipe]) VALUES (2, N'test.txt', CAST(0x0000A235017EA058 AS DateTime), N'File')
INSERT [dbo].[sheqms_safety_talk] ([id], [filename], [date], [tipe]) VALUES (3, N'benchbook(2).pdf', CAST(0x0000A2360000B220 AS DateTime), N'File')
SET IDENTITY_INSERT [dbo].[sheqms_safety_talk] OFF
/****** Object:  Table [dbo].[sheqms_kebijakan_HSE]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sheqms_kebijakan_HSE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [varchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
	[tipe] [varchar](max) NOT NULL,
 CONSTRAINT [PK_sheqms_kebijakan_HSE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kalendar_group]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kalendar_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[member] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_kalendar_group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kalendar_group] ON
INSERT [dbo].[kalendar_group] ([id], [group_id], [member]) VALUES (1, 1, N'admin')
INSERT [dbo].[kalendar_group] ([id], [group_id], [member]) VALUES (2, 1, N'admin2')
INSERT [dbo].[kalendar_group] ([id], [group_id], [member]) VALUES (3, 1, N'amir')
SET IDENTITY_INSERT [dbo].[kalendar_group] OFF
/****** Object:  Table [dbo].[kalendar_events]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kalendar_events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[description] [nvarchar](300) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[type] [nvarchar](10) NULL,
	[priority] [nvarchar](10) NOT NULL,
	[create_by] [int] NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK_kalendar_events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kalendar_events] ON
INSERT [dbo].[kalendar_events] ([id], [text], [description], [start_date], [end_date], [type], [priority], [create_by], [group_id]) VALUES (1, N'New event', N'', CAST(0x0000A21400000000 AS DateTime), CAST(0x0000A21400015F90 AS DateTime), NULL, N'normal', NULL, 9)
INSERT [dbo].[kalendar_events] ([id], [text], [description], [start_date], [end_date], [type], [priority], [create_by], [group_id]) VALUES (2, N'New event', N'', CAST(0x0000A21300000000 AS DateTime), CAST(0x0000A21300015F90 AS DateTime), NULL, N'normal', NULL, NULL)
INSERT [dbo].[kalendar_events] ([id], [text], [description], [start_date], [end_date], [type], [priority], [create_by], [group_id]) VALUES (3, N'Ini yg bener', N'hahaha', CAST(0x0000A21A0018B820 AS DateTime), CAST(0x0000A21A00AA49C0 AS DateTime), NULL, N'high', NULL, NULL)
SET IDENTITY_INSERT [dbo].[kalendar_events] OFF
/****** Object:  Table [dbo].[dashboard_default]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dashboard_default](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipe] [varchar](20) NULL,
	[konten] [varchar](max) NULL,
 CONSTRAINT [PK_dashboard_home_default] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dashboard_default] ON
INSERT [dbo].[dashboard_default] ([id], [tipe], [konten]) VALUES (1, N'slideshow', N'../../Content/slider/pic1.jpg')
INSERT [dbo].[dashboard_default] ([id], [tipe], [konten]) VALUES (2, N'slideshow', N'../../Content/slider/pic2.jpg')
INSERT [dbo].[dashboard_default] ([id], [tipe], [konten]) VALUES (3, N'slideshow', N'../../Content/slider/pic3.jpg')
SET IDENTITY_INSERT [dbo].[dashboard_default] OFF
/****** Object:  Table [dbo].[company]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](255) NOT NULL,
	[parent] [int] NULL,
	[deskripsi] [text] NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[company] ON
INSERT [dbo].[company] ([id], [nama], [parent], [deskripsi]) VALUES (0, N'Direktorat Gas', NULL, N'Direktorat Gas Pertamina')
INSERT [dbo].[company] ([id], [nama], [parent], [deskripsi]) VALUES (1, N'PT Pertagas', 0, N'Anak Perusahaan Direktorat Gas Pertamina')
INSERT [dbo].[company] ([id], [nama], [parent], [deskripsi]) VALUES (2, N'PT Arun', 0, N'Anak Perusahaan DirGas')
SET IDENTITY_INSERT [dbo].[company] OFF
/****** Object:  Table [dbo].[bisnis_rkap]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bisnis_rkap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[content] [varchar](max) NULL,
	[tahun] [int] NOT NULL,
 CONSTRAINT [PK_bisnis_rkap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bisnis_rkap] ON
INSERT [dbo].[bisnis_rkap] ([id], [company_id], [content], [tahun]) VALUES (1, 2, N'benchbook.pdf', 2013)
SET IDENTITY_INSERT [dbo].[bisnis_rkap] OFF
/****** Object:  Table [dbo].[bisnis_rjpp]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bisnis_rjpp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[content] [varchar](max) NULL,
	[tahun] [int] NOT NULL,
 CONSTRAINT [PK_bisnis_rjpp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bisnis_rjpp] ON
INSERT [dbo].[bisnis_rjpp] ([id], [company_id], [content], [tahun]) VALUES (6, 2, N'benchbook.pdf', 2013)
SET IDENTITY_INSERT [dbo].[bisnis_rjpp] OFF
/****** Object:  Table [dbo].[bisnis_product]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bisnis_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[product] [varchar](max) NULL,
	[tahun] [int] NOT NULL,
	[januari] [int] NOT NULL,
	[februari] [int] NOT NULL,
	[maret] [int] NOT NULL,
	[april] [int] NOT NULL,
	[mei] [int] NOT NULL,
	[juni] [int] NOT NULL,
	[juli] [int] NOT NULL,
	[agustus] [int] NOT NULL,
	[september] [int] NOT NULL,
	[oktober] [int] NOT NULL,
	[november] [int] NOT NULL,
	[desember] [int] NOT NULL,
 CONSTRAINT [PK_bisnis_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bisnis_product] ON
INSERT [dbo].[bisnis_product] ([id], [company_id], [product], [tahun], [januari], [februari], [maret], [april], [mei], [juni], [juli], [agustus], [september], [oktober], [november], [desember]) VALUES (1, 4, N'da', 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[bisnis_product] ([id], [company_id], [product], [tahun], [januari], [februari], [maret], [april], [mei], [juni], [juli], [agustus], [september], [oktober], [november], [desember]) VALUES (2, 2, N'ss', 32, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[bisnis_product] ([id], [company_id], [product], [tahun], [januari], [februari], [maret], [april], [mei], [juni], [juli], [agustus], [september], [oktober], [november], [desember]) VALUES (3, 3, N'qwww', 2008, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[bisnis_product] OFF
/****** Object:  Table [dbo].[bisnis_main]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bisnis_main](
	[company_id] [int] NOT NULL,
	[profile] [varchar](max) NULL,
	[struktur] [varchar](max) NULL,
	[visimisi] [varchar](max) NULL,
	[ad_art] [varchar](max) NULL,
 CONSTRAINT [PK_bisnis_main] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[bisnis_main] ([company_id], [profile], [struktur], [visimisi], [ad_art]) VALUES (0, NULL, N'03-168x300.png', NULL, N'')
INSERT [dbo].[bisnis_main] ([company_id], [profile], [struktur], [visimisi], [ad_art]) VALUES (1, N'<p>asdf<sub>dfdffd</sub></p>
', N'download.jpg', NULL, N'benchbook.pdf')
INSERT [dbo].[bisnis_main] ([company_id], [profile], [struktur], [visimisi], [ad_art]) VALUES (2, NULL, NULL, NULL, N'')
/****** Object:  Table [dbo].[bisnis_kpi]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bisnis_kpi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[content] [varchar](max) NULL,
	[tahun] [int] NOT NULL,
	[deskripsi] [varchar](max) NULL,
 CONSTRAINT [PK_bisnis_kpi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bisnis_kpi] ON
INSERT [dbo].[bisnis_kpi] ([id], [company_id], [content], [tahun], [deskripsi]) VALUES (3, 9, N'benchbook.pdf', 2013, N'asdf')
INSERT [dbo].[bisnis_kpi] ([id], [company_id], [content], [tahun], [deskripsi]) VALUES (6, 2, N'benchbook.pdf', 2013, N'123')
INSERT [dbo].[bisnis_kpi] ([id], [company_id], [content], [tahun], [deskripsi]) VALUES (7, 2, N'benchbook.pdf', 2013, NULL)
SET IDENTITY_INSERT [dbo].[bisnis_kpi] OFF
/****** Object:  Table [dbo].[bisnis_bussiness_report]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bisnis_bussiness_report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[content] [varchar](max) NULL,
	[bulan] [varchar](max) NOT NULL,
	[tahun] [int] NOT NULL,
	[deskripsi] [varchar](max) NULL,
	[reportType] [varchar](max) NOT NULL,
 CONSTRAINT [PK_bisnis_bussiness_report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bisnis_bussiness_report] ON
INSERT [dbo].[bisnis_bussiness_report] ([id], [company_id], [content], [bulan], [tahun], [deskripsi], [reportType]) VALUES (2, 0, N'AMS.docx', N'Januari', 2013, N'hhh', N'executive_summary')
INSERT [dbo].[bisnis_bussiness_report] ([id], [company_id], [content], [bulan], [tahun], [deskripsi], [reportType]) VALUES (3, 2, N'benchbook.pdf', N'Januari', 2013, N'adf', N'I._Summary')
SET IDENTITY_INSERT [dbo].[bisnis_bussiness_report] OFF
/****** Object:  Table [dbo].[users_jabatan]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_jabatan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](255) NOT NULL,
	[parent] [int] NULL,
	[deskripsi] [text] NULL,
	[company_id] [int] NULL,
	[golongan] [varchar](50) NULL,
	[cost_centre] [int] NULL,
 CONSTRAINT [PK_users_jabatan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 1) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[users_jabatan] ON
INSERT [dbo].[users_jabatan] ([id], [nama], [parent], [deskripsi], [company_id], [golongan], [cost_centre]) VALUES (-2, N'Admin data input', 0, N'Admin data input', NULL, NULL, NULL)
INSERT [dbo].[users_jabatan] ([id], [nama], [parent], [deskripsi], [company_id], [golongan], [cost_centre]) VALUES (-1, N'Admin data master', 0, N'Admin data master', NULL, NULL, NULL)
INSERT [dbo].[users_jabatan] ([id], [nama], [parent], [deskripsi], [company_id], [golongan], [cost_centre]) VALUES (0, N'-', 0, N'-', 0, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[users_jabatan] OFF
/****** Object:  Table [dbo].[users]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[create_date] [datetime] NULL,
	[rm_role] [int] NULL,
	[no_pekerja] [varchar](50) NULL,
	[lokasi] [varchar](50) NULL,
	[direktorat] [varchar](50) NULL,
	[tempat_lahir] [varchar](50) NULL,
	[tgl_lahir] [date] NULL,
	[jenis_kelamin] [tinyint] NULL,
	[agama] [varchar](50) NULL,
	[susunan_keluarga] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[alamat_pajak] [varchar](256) NULL,
	[alamat_rumah] [varchar](256) NULL,
	[alamat_ktp] [varchar](256) NULL,
	[tgl_mppk] [date] NULL,
	[tgl_pensiun] [date] NULL,
	[sub_area] [varchar](50) NULL,
	[tgl_aktif] [date] NULL,
	[tmt_dapen_dplk] [date] NULL,
	[tmt_jabatan] [date] NULL,
	[tmt_gol_jabatan] [date] NULL,
	[gol_upah_persero] [varchar](50) NULL,
	[tmt_gol_upah_persero] [date] NULL,
	[gol_upah_ap] [varchar](50) NULL,
	[tmt_gol_upah_ap] [date] NULL,
	[layering] [varchar](50) NULL,
	[pendidikan_terakhir] [varchar](50) NULL,
	[status_pekerja] [varchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[users] OFF
/****** Object:  Table [dbo].[dashboard_text]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dashboard_text](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipe] [varchar](20) NOT NULL,
	[tgl_update] [datetime] NOT NULL,
	[ringkasan] [text] NOT NULL,
	[konten] [text] NOT NULL,
	[poster_user_id] [int] NOT NULL,
	[kategori] [varchar](20) NULL,
 CONSTRAINT [PK_dashboard_home_text] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dashboard_text] ON
INSERT [dbo].[dashboard_text] ([id], [tipe], [tgl_update], [ringkasan], [konten], [poster_user_id], [kategori]) VALUES (1, N'informasi', CAST(0x0000A12500F1F950 AS DateTime), N'Rencana informasi blabbla', N'Dengan ini diinformasikan bahwa direncanakan pada pertengahan bulan Februari 2013, Direktorat Gas akan pindah ke Gedung Kwarnas (lantai 6, 7 dan 9) serta Gedung Utama lantai 21. Guna kelancaran proses kepindahan, dimohon kepada setiap', 0, N'himbauan')
INSERT [dbo].[dashboard_text] ([id], [tipe], [tgl_update], [ringkasan], [konten], [poster_user_id], [kategori]) VALUES (2, N'informasi', CAST(0x0000A11F00EA0240 AS DateTime), N'ulang tahun 55 tahun pertamina, rayakan', N'Ayo rayakan 55 tahun Pertamina, bersama menjadi keluarga sobat bumi. Terdapat pameran - hiburan, festival kuliner dan kerajinan', 26, N'pengumuman')
INSERT [dbo].[dashboard_text] ([id], [tipe], [tgl_update], [ringkasan], [konten], [poster_user_id], [kategori]) VALUES (3, N'informasi', CAST(0x0000A10600735B40 AS DateTime), N'asdfsadffad', N'Dengan semakin dekatnya pertandingan Futsal antar Direktorat dan AP dalam rangka memperingati HUT Pertamina, maka di mohon kehadiran para calon Atlit Futsal Direktorat Gas dan para simpatisan pada latihan yang adakan diadakan sbb:', 0, N'himbauan')
SET IDENTITY_INSERT [dbo].[dashboard_text] OFF
/****** Object:  Table [dbo].[users_tindakan_disiplin]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_tindakan_disiplin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_users_tindakan_disiplin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_sertifikasi]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_sertifikasi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_users_sertifikasi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_riwayat_gol_upah_persero]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_riwayat_gol_upah_persero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[gol_upah_persero] [varchar](50) NOT NULL,
	[tgl_awal] [date] NOT NULL,
	[tgl_akhir] [date] NOT NULL,
 CONSTRAINT [PK_users_riwayat_gol_upah_persero] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[users_riwayat_gol_upah_persero] ON
INSERT [dbo].[users_riwayat_gol_upah_persero] ([id], [user_id], [gol_upah_persero], [tgl_awal], [tgl_akhir]) VALUES (1, 186, N'05', CAST(0x94360B00 AS Date), CAST(0xA2360B00 AS Date))
SET IDENTITY_INSERT [dbo].[users_riwayat_gol_upah_persero] OFF
/****** Object:  Table [dbo].[users_penugasan]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_penugasan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_users_penugasan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_penghargaan]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_penghargaan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_users_penghargaan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_pengalaman_kerja]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_pengalaman_kerja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[nama_perusahaan] [varchar](50) NULL,
	[jabatan] [varchar](50) NULL,
	[lokasi] [varchar](50) NULL,
	[tgl_awal] [date] NULL,
	[tgl_akhir] [date] NULL,
 CONSTRAINT [PK_users_pengalaman_kerja] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users_pendidikan]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_pendidikan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lokasi] [varchar](50) NULL,
	[tingkat] [varchar](50) NULL,
	[tgl_awal] [date] NULL,
	[tgl_akhir] [date] NULL,
 CONSTRAINT [PK_users_pendidikan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[users_pendidikan] ON
INSERT [dbo].[users_pendidikan] ([id], [user_id], [lokasi], [tingkat], [tgl_awal], [tgl_akhir]) VALUES (1, 186, N'Bandung', N'SMAN 3', CAST(0x39360B00 AS Date), CAST(0x87360B00 AS Date))
INSERT [dbo].[users_pendidikan] ([id], [user_id], [lokasi], [tingkat], [tgl_awal], [tgl_akhir]) VALUES (3, 117, N'Surabaya', N'S1-UGM', CAST(0x40360B00 AS Date), CAST(0x95360B00 AS Date))
SET IDENTITY_INSERT [dbo].[users_pendidikan] OFF
/****** Object:  Table [dbo].[users_nilai_kinerja]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_nilai_kinerja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_users_nilai_kinerja] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_kursus]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_kursus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[tipe] [varchar](50) NULL,
	[nama] [varchar](50) NULL,
	[lokasi] [varchar](50) NULL,
	[hasil] [varchar](50) NULL,
	[tgl_awal] [date] NULL,
	[tgl_akhir] [date] NULL,
 CONSTRAINT [PK_users_kursus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users_keluarga]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_keluarga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[hubungan] [varchar](50) NOT NULL,
	[tempat_lahir] [varchar](50) NULL,
	[tgl_lahir] [date] NULL,
 CONSTRAINT [PK_users_keluarga] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[users_keluarga] ON
INSERT [dbo].[users_keluarga] ([id], [user_id], [nama], [hubungan], [tempat_lahir], [tgl_lahir]) VALUES (2, 186, N'Jojo', N'Anak Kedua', N'Jakarta', CAST(0x9C360B00 AS Date))
SET IDENTITY_INSERT [dbo].[users_keluarga] OFF
/****** Object:  Table [dbo].[acl]    Script Date: 09/14/2013 21:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[acl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[page_name] [varchar](50) NOT NULL,
	[page_company_id] [int] NULL,
	[allow_view] [tinyint] NOT NULL,
	[allow_create] [tinyint] NOT NULL,
	[allow_update] [tinyint] NOT NULL,
	[allow_delete] [tinyint] NOT NULL,
	[allow_print] [tinyint] NOT NULL,
 CONSTRAINT [PK_acl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[acl] ON
INSERT [dbo].[acl] ([id], [user_id], [page_name], [page_company_id], [allow_view], [allow_create], [allow_update], [allow_delete], [allow_print]) VALUES (445, 385, N'/Home', NULL, 0, 1, 0, 0, 0)
INSERT [dbo].[acl] ([id], [user_id], [page_name], [page_company_id], [allow_view], [allow_create], [allow_update], [allow_delete], [allow_print]) VALUES (446, 385, N'PRTprofilditgas', NULL, 0, 1, 0, 0, 0)
INSERT [dbo].[acl] ([id], [user_id], [page_name], [page_company_id], [allow_view], [allow_create], [allow_update], [allow_delete], [allow_print]) VALUES (447, 385, N'/ProfilDitgas', NULL, 0, 1, 0, 0, 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[acl] OFF
/****** Object:  Default [DF_acl_allow_view]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl] ADD  CONSTRAINT [DF_acl_allow_view]  DEFAULT ((0)) FOR [allow_view]
GO
/****** Object:  Default [DF_acl_allow_create]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl] ADD  CONSTRAINT [DF_acl_allow_create]  DEFAULT ((0)) FOR [allow_create]
GO
/****** Object:  Default [DF_acl_allow_update]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl] ADD  CONSTRAINT [DF_acl_allow_update]  DEFAULT ((0)) FOR [allow_update]
GO
/****** Object:  Default [DF_acl_allow_delete]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl] ADD  CONSTRAINT [DF_acl_allow_delete]  DEFAULT ((0)) FOR [allow_delete]
GO
/****** Object:  Default [DF_acl_allow_print]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl] ADD  CONSTRAINT [DF_acl_allow_print]  DEFAULT ((0)) FOR [allow_print]
GO
/****** Object:  Default [DF_dashboard_text_ringkasan]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[dashboard_text] ADD  CONSTRAINT [DF_dashboard_text_ringkasan]  DEFAULT ('') FOR [ringkasan]
GO
/****** Object:  Default [DF__Users__CreateDat__66603565]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__Users__CreateDat__66603565]  DEFAULT (CONVERT([datetime],CONVERT([varchar],getdate(),(1)),(1))) FOR [create_date]
GO
/****** Object:  Default [DF_Users_rm_role]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_Users_rm_role]  DEFAULT ((0)) FOR [rm_role]
GO
/****** Object:  Default [DF_users_jabatan_company_id]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_jabatan] ADD  CONSTRAINT [DF_users_jabatan_company_id]  DEFAULT ((0)) FOR [company_id]
GO
/****** Object:  ForeignKey [FK_acl_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl]  WITH CHECK ADD  CONSTRAINT [FK_acl_company] FOREIGN KEY([page_company_id])
REFERENCES [dbo].[company] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[acl] CHECK CONSTRAINT [FK_acl_company]
GO
/****** Object:  ForeignKey [FK_acl_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[acl]  WITH CHECK ADD  CONSTRAINT [FK_acl_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[acl] CHECK CONSTRAINT [FK_acl_users]
GO
/****** Object:  ForeignKey [FK_bisnis_bussiness_report_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[bisnis_bussiness_report]  WITH CHECK ADD  CONSTRAINT [FK_bisnis_bussiness_report_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[bisnis_bussiness_report] CHECK CONSTRAINT [FK_bisnis_bussiness_report_company]
GO
/****** Object:  ForeignKey [FK_bisnis_kpi_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[bisnis_kpi]  WITH CHECK ADD  CONSTRAINT [FK_bisnis_kpi_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[bisnis_kpi] CHECK CONSTRAINT [FK_bisnis_kpi_company]
GO
/****** Object:  ForeignKey [FK_bisnis_main_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[bisnis_main]  WITH CHECK ADD  CONSTRAINT [FK_bisnis_main_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bisnis_main] CHECK CONSTRAINT [FK_bisnis_main_company]
GO
/****** Object:  ForeignKey [FK_bisnis_product_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[bisnis_product]  WITH CHECK ADD  CONSTRAINT [FK_bisnis_product_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[bisnis_product] CHECK CONSTRAINT [FK_bisnis_product_company]
GO
/****** Object:  ForeignKey [FK_bisnis_rjpp_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[bisnis_rjpp]  WITH CHECK ADD  CONSTRAINT [FK_bisnis_rjpp_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[bisnis_rjpp] CHECK CONSTRAINT [FK_bisnis_rjpp_company]
GO
/****** Object:  ForeignKey [FK_bisnis_rkap_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[bisnis_rkap]  WITH CHECK ADD  CONSTRAINT [FK_bisnis_rkap_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[bisnis_rkap] CHECK CONSTRAINT [FK_bisnis_rkap_company]
GO
/****** Object:  ForeignKey [FK_dashboard_text_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[dashboard_text]  WITH CHECK ADD  CONSTRAINT [FK_dashboard_text_users] FOREIGN KEY([poster_user_id])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[dashboard_text] CHECK CONSTRAINT [FK_dashboard_text_users]
GO
/****** Object:  ForeignKey [FK_users_users_jabatan]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_users_jabatan] FOREIGN KEY([rm_role])
REFERENCES [dbo].[users_jabatan] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_users_jabatan]
GO
/****** Object:  ForeignKey [FK_users_jabatan_company]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_jabatan]  WITH CHECK ADD  CONSTRAINT [FK_users_jabatan_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_jabatan] CHECK CONSTRAINT [FK_users_jabatan_company]
GO
/****** Object:  ForeignKey [FK_users_keluarga_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_keluarga]  WITH CHECK ADD  CONSTRAINT [FK_users_keluarga_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_keluarga] CHECK CONSTRAINT [FK_users_keluarga_users]
GO
/****** Object:  ForeignKey [FK_users_kursus_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_kursus]  WITH CHECK ADD  CONSTRAINT [FK_users_kursus_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_kursus] CHECK CONSTRAINT [FK_users_kursus_users]
GO
/****** Object:  ForeignKey [FK_users_nilai_kinerja_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_nilai_kinerja]  WITH CHECK ADD  CONSTRAINT [FK_users_nilai_kinerja_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_nilai_kinerja] CHECK CONSTRAINT [FK_users_nilai_kinerja_users]
GO
/****** Object:  ForeignKey [FK_users_pendidikan_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_pendidikan]  WITH CHECK ADD  CONSTRAINT [FK_users_pendidikan_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_pendidikan] CHECK CONSTRAINT [FK_users_pendidikan_users]
GO
/****** Object:  ForeignKey [FK_users_pengalaman_kerja_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_pengalaman_kerja]  WITH CHECK ADD  CONSTRAINT [FK_users_pengalaman_kerja_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_pengalaman_kerja] CHECK CONSTRAINT [FK_users_pengalaman_kerja_users]
GO
/****** Object:  ForeignKey [FK_users_penghargaan_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_penghargaan]  WITH CHECK ADD  CONSTRAINT [FK_users_penghargaan_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_penghargaan] CHECK CONSTRAINT [FK_users_penghargaan_users]
GO
/****** Object:  ForeignKey [FK_users_penugasan_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_penugasan]  WITH CHECK ADD  CONSTRAINT [FK_users_penugasan_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_penugasan] CHECK CONSTRAINT [FK_users_penugasan_users]
GO
/****** Object:  ForeignKey [FK_users_riwayat_gol_upah_persero_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_riwayat_gol_upah_persero]  WITH CHECK ADD  CONSTRAINT [FK_users_riwayat_gol_upah_persero_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_riwayat_gol_upah_persero] CHECK CONSTRAINT [FK_users_riwayat_gol_upah_persero_users]
GO
/****** Object:  ForeignKey [FK_users_sertifikasi_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_sertifikasi]  WITH CHECK ADD  CONSTRAINT [FK_users_sertifikasi_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_sertifikasi] CHECK CONSTRAINT [FK_users_sertifikasi_users]
GO
/****** Object:  ForeignKey [FK_users_tindakan_disiplin_users]    Script Date: 09/14/2013 21:11:38 ******/
ALTER TABLE [dbo].[users_tindakan_disiplin]  WITH CHECK ADD  CONSTRAINT [FK_users_tindakan_disiplin_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users_tindakan_disiplin] CHECK CONSTRAINT [FK_users_tindakan_disiplin_users]
GO
