<script type="text/javascript">
    $(document).ready(function () {
        getDemografiReport();
        //$('#content-demografi').load('DemografiTable', { 'kategori': $('#kategori').val(), 'companyId': $('#companiesListItem').val(), 'countGrafik': 1 });
        $("#kategori").bind("change", function () {
            $('#content-demografi').html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
            getDemografiReport();
            //$('#content-demografi').load('DemografiTable', { 'kategori': $('#kategori').val(), 'companyId': $('#companiesListItem').val(), 'countGrafik': 1 });
        });
        $("#companiesListItem").bind("change", function () {
            $('#content-demografi').html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
            getDemografiReport();
            //$('#content-demografi').load('DemografiTable', { 'kategori': $('#kategori').val(), 'companyId': $('#companiesListItem').val(), 'countGrafik': 1 });
        });
    })

    function getDemografiReport() {
        if ($('#kategori').val() == 'lahirvsgolongan') {
            $.post("../DataSdmDitGas/Demografi_LahirGolongan", { comp_id: $('#companiesListItem').val() }, function (data) {
                $('#content-demografi').html(data);
            });
        } else if ($('#kategori').val() == 'lahirvspendidikan') {
            $.post("../DataSdmDitGas/Demografi_LahirPendidikan", { comp_id: $('#companiesListItem').val() }, function (data) {
                $('#content-demografi').html(data);
            });
        } else if ($('#kategori').val() == 'golonganvspendidikan') {
            $.post("../DataSdmDitGas/Demografi_GolonganPendidikan", { comp_id: $('#companiesListItem').val() }, function (data) {
                $('#content-demografi').html(data);
            });
        } else if ($('#kategori').val() == 'mppkvsgolongan') {
            $.post("../DataSdmDitGas/Demografi_MPPKGolongan", { comp_id: $('#companiesListItem').val() }, function (data) {
                $('#content-demografi').html(data);
            });
        } else if ($('#kategori').val() == 'mppkvspendidikan') {
            $.post("../DataSdmDitGas/Demografi_MPPKPendidikan", { comp_id: $('#companiesListItem').val() }, function (data) {
                $('#content-demografi').html(data);
            });
        }
    }
</script>

<div class="Asearch"><b>Anak Perusahaan</b></div><div class="titik2"> : </div><div class="Ainput">
    @Html.DropDownList("companiesListItem")
</div>
<br/>
<div class="Asearch"><b>Kategori</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="kategori" id="kategori">
        <option value="lahirvsgolongan">Usia Vs Golongan</option>
        <option value="lahirvspendidikan">Usia Vs Pendidikan</option>
        <option value="golonganvspendidikan">Golongan Vs Pendidikan</option>
        <option value="mppkvsgolongan">MPPK Vs Golongan</option>
        <option value="mppkvspendidikan">MPPK VS Pendidikan</option>
        <!--<option value="5">Teknisi Pensiun</option>    
        <option value="6">Sisa Teknisi</option>-->
    </select>
</div>
<div id="content-demografi">
    <img src="../../../Content/image/loading.gif" alt="Loading.."/>
</div>