<script type="text/javascript">
    $(document).ready(function () {
        $.post("../DataSdmDitGas/Demografi_Organisasi", { comp_id: $('#companiesListItem').val() }, function (data) {
            $('#content-demografi').html(data);
        });
        $("#companiesListItem").bind("change", function () {
            $('#content-demografi').html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
            $.post("../DataSdmDitGas/Demografi_Organisasi", { comp_id: $('#companiesListItem').val() }, function (data) {
                $('#content-demografi').html(data);
            });
        });
        //        $('#content-demografi').load('DemografiTable', { 'kategori': 'organisasi', 'companyId': $('#companiesListItem').val(), 'countGrafik': 0 });
        //        $("#companiesListItem").bind("change", function () {
        //            $('#content-demografi').html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
        //            $('#content-demografi').load('DemografiTable', { 'kategori': 'organisasi', 'companyId': $('#companiesListItem').val(), 'countGrafik': 0 });
        //        });
    })

</script>

<div class="Asearch"><b>Anak Perusahaan</b></div><div class="titik2"> : </div><div class="Ainput">
    @Html.DropDownList("companiesListItem")
</div>
<br/>
<div id="content-demografi">
    <img src="../../../Content/image/loading.gif" alt="Loading.."/>
</div>