@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        $.post("DataBisnisApAdmin/GetCompanyList", { parent: 0 }, function (data) {
            var get = "";
            $.each(data, function (index, value) {
                get += '<option value="' + value.id + '">' + value.member + '</option>'
            });
            $("#id_ap").append(get);
        });

        $("#id_ap").bind("change", function () {
            if ($('#id_ap').val() != '') {
                $('#content_profile').load('DataBisnisApAdmin/Connector/' + $('#id_ap').val());
            }
        });
        
//        $('#content_profile').load('DataBisnisApAdmin/Connector/'+);
    })

</script>

<div class="Asearch"><b>Anak Perusahaan</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="id_ap" id="id_ap">
        <option value="">-- Pilih Anak Perusahaan --</option>
    </select>
</div>
<br/>
<div id="content_profile"></div>