@model relmon.Models.bisnis_main
<h4>Pengaturan Tampilan RJPP</h4> 
<textarea cols="80" id="rjpp" name="rjpp" rows="10">
   	@{
        if (!string.IsNullOrWhiteSpace(Model.rjpp))
        {
            @(Model.rjpp)
        }
    }
</textarea>
<p>
	<input type="submit" id="saveRjppAp" value="Simpan" />
</p>
<script type="text/javascript">

    //CKEDITOR.replace('rjpp');
    var editor = CKEDITOR.replace('rjpp', {
        uiColor: '#14B8C4',
        htmlEncodeOutput: true,
        filebrowserBrowseUrl: '/Scripts/Filemanager/index.html',
        filebrowserImageBrowseUrl: '/Scripts/Filemanager/index.html?type=Images',
        filebrowserFlashBrowseUrl: '/Scripts/Filemanager/index.html?type=Flash',
        removePlugins: 'about'

    });

    $("#saveRjppAp").click(function () {
        $.post("DataBisnisApAdmin/UploadRjpp/@ViewBag.id", { rjpp: escape(editor.getData()) }, function (data) {
            if (data == "True") {
                alert("Data berhasil disimpan");
            } else {
                alert("Data tidak berhasil disimpan");
            }
        });

    });
</script>
