<h4>Upload File RKAP</h4> 

<script>
    function onSuccess(e) {
        var files = e.files;
        if (e.operation == "upload") {
            //save to database
            loadIframe('frame-content', '/DataBisnisAp/getPDF/@ViewBag.id');
        }
    }

    function onLoad(e) {
        console.log(e);
    }
</script>

@(Html.Telerik().Upload()
        .Name("attachmentsRkap")
        .ClientEvents(events => events
            .OnSuccess("onSuccess")
            .OnLoad("onLoad")
        )
        .Multiple(false)
        .Async(async => async
            .Save("Save", "Upload", "attachments")
            .Remove("Remove", "Upload")
            .AutoUpload(true)
        )
    )

<br/>
@{
    if (ViewBag.exist)
    {
        <iframe id="frame-content" name="frame-content" src="" width="960" height="400" style="border:0px solid #000;"></iframe>    
    }else{
        <span><b>No File RKAP</b></span>
    }    
}
<br/>
<br/>
