@{
    ViewBag.Title = "Index";
}

<h2>Aturan External</h2>
<iframe id="frame-content" name="frame-content" src="/AturanRegulasi/getPDF?tipe=regulasi" width="960" height="400" style="border:0px solid #000;"></iframe>