@{
    ViewBag.Title = "Index";
}

<h2>Aturan External</h2>
<hr style="height:1px;border:1px solid #cccdcf;background-color:#bdbec0;" />
<iframe id="frame-content" name="frame-content" src="/AturanRegulasi/getPDF?tipe=regulasi" width="960" height="400" style="border:0px solid #000;"></iframe>