@using relmon
@{
    ViewBag.Title = ViewBag.tipe;
}
<script type="text/javascript" src="../../../Scripts/crawler.js"></script>
<script type="text/javascript" src="../../../Scripts/slideshow.js"></script>
<script type="text/javascript">
    $.post("/Dashboard/GetSlideshow", "", function (data) {
        var imgArray = new Array();
        $.each(data, function (index, value) {
            imgArray.push([value]);
        });
        var mygallery = new fadeSlideShow({
            wrapperid: "fadeshow2", //ID of blank DIV on page to house Slideshow   
            dimensions: [1000, 300], //width/height of gallery in pixels. Should reflect dimensions of largest image
            imagearray: imgArray,
            displaymode: { type: 'auto', pause: 1000, cycles: 0, wraparound: false },
            persist: false, //remember last viewed slide and recall within same session?   
            fadeduration: 2000, //transition duration (milliseconds)  
            descreveal: "ondemand",
            togglerid: ""
        })
    });

    $(document).ready(function () {
        @{
            string konten = ViewBag.konten;

            if(konten.Length >= 100)
            {
                <text>
                    var NAME = document.getElementById("content");
                    var currentClass = NAME.className;
                    NAME.className = "contentColumn";
                </text>
            }
        }


    });

//    $.post("/Dashboard/GetHighlight", "", function (data) {
//        $.each(data, function (index, value) {
//            var image = $("<img src='" + value + "' alt='' title='' style='transform:rotate(270deg)'/>");
//            image.load(function () {
//                image.css('margin-left', -($(this).width() - $(this).height()));
//            });
//            $("#mycrawler").append(image);
//        });

//        marqueeInit({
//            uniqueid: 'mycrawler',
//            style: {
//                'margin-bottom': '20px',
//                'margin-left': '10px',
//                'padding': '1px',
//                'width': '190px',
//                'height': '500px',
//                'transform': 'rotate(90deg)'
//            },
//            inc: 0, //speed - pixel increment for each iteration of this marquee's movement
//            mouse: 'false', //mouseover behavior ('pause' 'cursor driven' or false)
//            moveatleast: 1,
//            neutral: 150,
//            savedirection: true
//        });
//        $(".marquee0 > div").css('overflow', 'visible');
//    });
</script>
<style>
    .contentColumn
    {
        column-count:2;
        column-gap: 20px;
        -webkit-column-count:2;
        -moz-column-count:2;
    }
    
</style>

<div id="fadeshow2" style="z-index: -1;"></div>
<div class="marquee" id="mycrawler" style="float:left;"></div>
<br />
<div id="wrapper" class="article">
    <h2>@ViewBag.tipe</h2>
        <div class="description-a">
            @ViewBag.tgl_update
        </div>
        <div class="description-b">
            Posted by @(ViewBag.poster_username + ((ViewBag.kategori != "")? " in " + ViewBag.kategori:""))
        </div>
    <hr />
        <div id="content" class="content">
            @Html.Raw(ViewBag.konten)
        </div>
</div>
<!--<a href="/">« Back</a>-->