<!--<div style="width:180px;border-right:1px solid;">

</div>-->

<div id="column1-wrap">
    <div id="column1">
        <ul>
            <li>
                <a href="#" onclick="">LNG</a>
            </li>
            <li>
                <a href="#" onclick="">LPG</a>
            </li>
            <li>
                CNG
            </li>
            <li>
                Shale Gas
            </li>
            <li>
                Renewable Energy
                <ul>
                    <li>
                         Bio Mass
                    </li>
                    <li>     
                         Wind
                    </li>
                    <li>
                         Solar Cell
                    </li>
                    <li>
                         Geothermal
                    </li>
                </ul>
            </li>
            <li>
                CBM
            </li>
        </ul>
    </div>
</div>
<div id="column2">
    <img id="LNG" src="" style="display:block"/>
    <img id="LPG" src="" style="display:block"/>
</div>
<div id="clear"></div>

<style>
    #column1-wrap{
        float: left;
        width: 100%;
    }
    #column1{
        margin-right: 790px;
        border-right:1px solid;
    }
    #column2{
        float: left;
        width: 750px;
        margin-left: -780px;
        margin-top: 15px;
        
    }
    #clear{
        clear: both;
    }
</style>