<script type="text/javascript">
    $(document).ready(function () {
        //$('#content-demografi').load('DemografiTable', { 'kategori': $('#kategori').val(), 'countGrafik': 1});
        $.post("Demografi_LahirGolongan", { comp_id: 0 }, function (data) {
            $('#content-demografi').html(data);
        });
        $("#kategori").bind("change", function () {
            //$('#content-demografi').html('');
            $('#content-demografi').html('<img src="../../../Content/image/loading.gif" />');
            //$('#content-demografi').load('DemografiTable', { 'kategori': $('#kategori').val(), 'countGrafik': 1 });
            if ($('#kategori').val() == 'lahirvsgolongan') {
                $.post("Demografi_LahirGolongan", { comp_id: 0 }, function (data) {
                    $('#content-demografi').html(data);
                });
            } else if ($('#kategori').val() == 'lahirvspendidikan') {
                $.post("Demografi_LahirPendidikan", { comp_id: 0 }, function (data) {
                    $('#content-demografi').html(data);
                });
            } else if ($('#kategori').val() == 'golonganvspendidikan') {
                $.post("Demografi_GolonganPendidikan", { comp_id: 0 }, function (data) {
                    $('#content-demografi').html(data);
                });
            } else if ($('#kategori').val() == 'mppkvsgolongan') {
                $.post("Demografi_MPPKGolongan", { comp_id: 0 }, function (data) {
                    $('#content-demografi').html(data);
                });
            } else if ($('#kategori').val() == 'mppkvspendidikan') {
                $.post("Demografi_MPPKPendidikan", { comp_id: 0 }, function (data) {
                    $('#content-demografi').html(data);
                });
            }
        });
    })

</script>

<div class="Asearch"><b>Kategori</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="kategori" id="kategori">
        <option value="lahirvsgolongan">Usia Vs Golongan</option>
        <option value="lahirvspendidikan">Usia Vs Pendidikan</option>
        <option value="golonganvspendidikan">Golongan Vs Pendidikan</option>
        <option value="mppkvsgolongan">MPPK Vs Golongan</option>
        <option value="mppkvspendidikan">MPPK VS Pendidikan</option>
        <!--<option value="5">Teknisi Pensiun</option>    
        <option value="6">Sisa Teknisi</option>-->
    </select>
</div>
<br/>
<div id="content-demografi">
    <img src="../../../Content/image/loading.gif" alt="Loading.."/>
</div>