@{
    ViewBag.Title = "Index";
}

<h2>Profil Dit Gas</h2>
<hr style="height:1px;border:1px solid #cccdcf;background-color:#bdbec0;" />

@Html.Raw(ViewBag.profil)
<!--img src="@Url.Content("~/Content/image/back-struk.jpg")" alt="" style=" width: 250px;">

<div id="profile">
	<div id="dnn_ctr389_ContentPane" class="contentC01"><!-- Start_Module_389>
    <div id="dnn_ctr389_ModuleContent" class="ModDNNHTMLC">
	<div id="dnn_ctr389_HtmlModule_lblContent" class="Normal">
	    <span style="font-family: tahoma; font-size: 12px;">Direktorat Gas terbentuk pada tanggal 5 Juni 2012 dengan mengemban peran mendukung pencapaian visi dan misi Pertamina menjadi perusahaan energi nasional kelas dunia, di bidang gas dan energi baru terbarukan.<br>
            <br/>
            Direktorat Gas melaksanakan integrasi pengelolaan bisnis gas dan energi baru terbarukan dengan target pencapaian laba optimal bagi Perusahaan. Dalam menyelenggarakan kegiatan usahanya, Direktorat Gas memaksimalkan seluruh peluang bisnis gas dan energi baru terbarukan dengan menguasai pasar dalam negeri dan berperan aktif pada pasar luar negeri.<br>
            <br/>
            Kegiatan Direktorat Gas saat ini dikoordinasikan oleh Direktur Gas, dan didukung penuh oleh Sumber Daya Manusia yang handal dan profesional di bidangnya.<br>
            <br/>
            Direktorat Gas melakukan koordinasi dan/atau kerjasama intensif dengan seluruh stake holder bisnis gas dan energi baru terbarukan antara lain Kementerian ESDM, BUMN, Keuangan, Perindustrian, Perdagangan, BPMIGAS, Para KKKS, Pembeli LNG/gas dalam dan luar negeri, Mitra Bisnis lainnya. Direktorat Gas juga melakukan koordinasi seluruh anak perusahaan/ perusahaan patungan yang bergerak di bidang gas yaitu PT Pertamina Gas, PT Nusantara Regas, PT Donggi Senoro LNG, PT Arun NGL, PT Badak NGL beserta seluruh afiliasinya.<br>
            <br/>
            Saat ini, Direktorat Gas sedang mengembangkan proyek-proyek infrastruktur pemanfataan gas domestik sekaligus jaringan pasar dan niaga gas. Beberapa proyek dan program utama yang sedang dikembangkan adalah Proyek Revitalisasi Industri Aceh (Arun Receiving and Regasification Terminal dan Arun – Belawan Pipeline), Proyek FSRU Jawa Tengah,  Program konversi BBM bersubsidi ke gas di bidang transportasi, Proyek pembangunan fasilitas mini LNG di kawasan timur Indonesia, Proyek  Waste to Energy di Bantar Gebang, dan beberapa proyek lain.<br>
            <br/>
            Direktorat Gas yakin melalui kegiatannya yang ekonomis, berwawasan lingkungan dan bertanggung jawab sosial dapat membantu memecahkan masalah energi di Indonesia dan dapat memberikan kontribusi yang sebesar-besarnya bagi kemakmuran bangsa dan Negara Indonesia.<br>
        </span>
    </div>
    </div>
    </div>
</div-->