<script>
    function import() {
        $.post("LoadWebService/Import", "", function () { });
    }
</script>

<p class="title">Import Data From Web Service</p>
		 <input type="button" value="Import" onclick="import" />
<br/>