<h3>Business Report</h3>
<div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="tahun" id="tahun">
        <option value="">2012</option>
        <option value="">2013</option>
    </select>
    
</div>
<div class="Asearch"><b>Bulan</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="bulan" id="bulan">
        <option value="">September</option>
        <option value="">Oktober</option>
        <option value="">November</option>
        <option value="">Desember</option>
    </select>
</div>
<br/>
<iframe id="frame-content" name="frame-content" src="/DataBisnisDitGas/getPDF/1" width="960" height="400" style="border:0px solid #000;"></iframe>