
@{
    ViewBag.Title = "Index";
}

<h2>Data Bisnis Dit. Gas</h2>
@( Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(parent => {
            parent.Add()
                .Text("AD/ART")
                .LoadContentFrom("AdArt", "DataBisnisDitGas")
                .Selected(true);
            /*parent.Add()
                .Text("Struktur Organisasi")
                .LoadContentFrom("StrukturOrganisasi", "DataBisnisDitGas");                
            parent.Add()
                .Text("Visi Misi")
                .LoadContentFrom("RencanaKerja", "DataBisnisDitGas");*/              
            parent.Add()
                .Text("RJPP")
                .LoadContentFrom("Rjpp", "DataBisnisDitGas");
            parent.Add()
                .Text("RKAP")
                .LoadContentFrom("Rkap", "DataBisnisDitGas");
            parent.Add()
                .Text("Bussiness Report")
                .LoadContentFrom("BussinessReport", "DataBisnisDitGas");
            parent.Add()
                .Text("KPI")
                .LoadContentFrom("Kinerja", "DataBisnisDitGas");
            parent.Add()
                .Text("Project Status")
                .LoadContentFrom("ProjectStatus", "DataBisnisDitGas");
            parent.Add()
                .Text("Product")
                .LoadContentFrom("Product", "DataBisnisDitGas");
            /*parent.Add()
                .Text("JMG")
                .LoadContentFrom("jng", "DataBisnisDitGas");*/
        })
)