@using System.IO;

<script>

    $(".target2").change(function () {
        if ($("#tahun2").val() != "") {

            $("#frame-content4").contents().find("html").remove();
            $('#image2').hide();
            $('#contentReport2').empty();

            $.post("DataBisnisDitgas/GetReportType2/@ViewBag.id", { tahun: $("#tahun").val() }, function (data) {
                if (data == "pdf") {
                    loadIframe('frame-content3', '/DataBisnisDitGas/GetPdfReport/@ViewBag.id?tahun=' + $("#tahun").val());
                } else if (data == "image") {

                    $.post("DataBisnisDitgas/GetImage2/@ViewBag.id", { tahun: $("#tahun2").val() }, function (data) {
                        $('#image2').attr('src', data);
                        $('#image2').show();
                    });

                } else if (data == "other") {
                    $.post("DataBisnisDitgas/GetOther2/@ViewBag.id", { tahun: $("#tahun").val()}, function (data) {

//                      
                        var dl = "<a href='DataBisnisDitGas/Download2?filename="+ data +"&id="+@ViewBag.id+"&tahun="+$("#tahun").val()+"'>"+data+"</a>";
                        $("#contentReport2").html(dl);
                    });
                   
                } else {
                    var dl = "<p>Bussiness Report tidak tersedia</p>";
                    $("#contentReport2").html(dl);
                }
            });
        }
    });

    $(document).ready(function () {

        var currentYear = new Date().getFullYear();

        for (var i = 1; i <= 10; i++) {
            $("#tahun2").append(
                $("<option></option>")
                .attr("value", currentYear)
                .text(currentYear)
            );
            currentYear--;
        }

    });
</script>
<h3>Business Report</h3>
<div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="tahun" id="tahun2" class="target2">
        <option value ="">--</option>
        
    </select>
    
</div>

<br/>

<img id="image" />
<div id="contentReport2">

</div>
<iframe id="frame-content4" name="frame-content" width="960" height="400" style="border:0px solid #000;"></iframe>

