<h3>Kinerja</h3>
<div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="id_ap" id="id_ap">
        <option value="">2007 - 2010</option>
    </select>
</div>
<iframe id="frame-content" name="frame-content" src="/DataBisnisDitGas/getPDF/0" width="960" height="400" style="border:0px solid #000;"></iframe>