<script>
    $(document).ready(function () {
        $.post("DataBisnisDitGas/GetRjpp", "", function (data) {
            $("#rjpp").append(data);
        })
    });
</script>

<h3>RJPP</h3>
<div id="rjpp">

</div>