@{
    ViewBag.Title = "Index";
}

<h2>Visi Misi Direktorat Gas</h2>
<iframe id="frame-content" name="frame-content" src="/DirektoratDitGas/getPDFVisiMisi/" width="960" height="600" style="border:0px solid #000;"></iframe>