@{
    ViewBag.Title = "Index";
}

<h2>Visi Misi Direktorat Gas</h2>
<hr style="height:1px;border:1px solid #cccdcf;background-color:#bdbec0;" />
<iframe id="frame-content" name="frame-content" src="/DirektoratDitGas/getPDFVisiMisi/" width="960" height="600" style="border:0px solid #000;"></iframe>