@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        var width = $('img').width();
        if(width > 1000){
            $('img').width(1000);
        }
    });
</script>
<h2>Struktur Organisasi Dit Gas</h2>
<!--<img src="../../../Content/image/back-struk.jpg" alt="""/>-->
<img src="../../../Upload/struktur.png" onerror="this.src='../../../Upload/default.jpg'" alt=""/>