@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        var width = $('img').width();
        if(width > 1000){
            $('img').width(1000);
        }
    });
</script>
<div style="background-color:#ffffff">
<h2>Struktur Organisasi Dit Gas</h2>
<hr style="height:1px;border:1px solid #cccdcf;background-color:#bdbec0;" />
<!--<img src="@Url.Content("~/Content/image/back-struk.jpg")" alt="""/>-->
<div style="text-align:center;">
    <img src="@Url.Content("~/Upload/struktur.png")" onerror="this.src='@Url.Content("~/Upload/default.jpg")'" alt=""/>
</div>

</div>