@{
    ViewBag.Title = "Demografi";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#content-sdm').load('Org/Index');
    })
    
</script>

<h2>Demografi Dit. Gas</h2>
<hr style="height:1px;border:1px solid #cccdcf;background-color:#bdbec0;" />
@Html.Partial("_MenuNavigationDemografiApAfiliasi")
<div id="content-sdm"><img src="@Url.Content("~/Content/image/loading.gif")" alt="Loading.."/></div>