@model IEnumerable<relmon.Models.dashboard_text>

@{
    ViewBag.Title = "Home - News";
}

<script type="text/javascript">

    var ckEditorAddNews;
    var ckEditorEditNews;
    function OnComplete(e) {
        if (e.name == null) {
            var detailWindow = $("#AddNews").data("tWindow");
            vals = e.response;
            $('#AddNews #poster_user_id').val(vals['poster_user_id']);
            detailWindow.center().open();
        } else {
            if (e.name == "EditNews") {
                var detailWindow = $("#EditNews").data("tWindow");
                vals = e.response;
                $.each(vals, function (index, value) {
                    if (index == "konten") {
                        $('#EditNews #edit_' + index + 'News').html(value);
                        ckEditorEditNews.setData(value);
                    }
                    else {
                        $('#EditNews #edit_' + index).val(value);
                    }
                });
                detailWindow.center().open();
            }
        }
    }

    function SaveNews() {
        var values =
        {
            "poster_user_id": $('#AddNews #poster_user_id').val(),
            "tipe": "news",
            "ringkasan": $('#AddNews #ringkasan').val(),
            "kategori": $('#AddNews #kategori').val(),
            "konten": escape(ckEditorAddNews.getData())
        }

        $.post("DashboardText/Create", values, function (data) {
            alert('Data tersimpan');
            var grid = $('#News').data('tGrid');
            grid.ajaxRequest();
            $("#AddNews").data("tWindow").close();

            $('#AddNews #kategori').val('');
            $('#AddNews #konten').html('');
            ckEditorAddNews.setData('');
        });
    }

    function EditNews() {
        var values =
        {
            "poster_user_id": $('#EditNews #edit_poster_user_id').val(),
            "id": $('#EditNews #edit_id').val(),
            "ringkasan": $('#EditNews #edit_ringkasan').val(),
            "kategori": $('#EditNews #edit_kategori').val(),
            "konten": escape(ckEditorEditNews.getData())
        }

        $.post("DashboardText/update", values, function (data) {
            alert('Data tersimpan');
            var grid = $('#News').data('tGrid');
            grid.ajaxRequest();
            $("#EditNews").data("tWindow").close();
        });
    }
    function ckEditorLoadNews() {
        CKEDITOR.config.baseFloatZIndex = 20000;
        ckEditorAddNews = CKEDITOR.replace('kontenNews', {
            uiColor: '#14B8C4',
            htmlEncodeOutput: true,
            filebrowserBrowseUrl: '/Scripts/Filemanager/index.html',
            filebrowserImageBrowseUrl: '/Scripts/Filemanager/index.html?type=Images',
            filebrowserFlashBrowseUrl: '/Scripts/Filemanager/index.html?type=Flash',
            removePlugins: 'about'
        });
    }
    function ckEditorLoadEditNews() {
        CKEDITOR.config.baseFloatZIndex = 20000;
        ckEditorEditNews = CKEDITOR.replace('edit_kontenNews', {
            uiColor: '#14B8C4',
            htmlEncodeOutput: true,
            filebrowserBrowseUrl: '/Scripts/Filemanager/index.html',
            filebrowserImageBrowseUrl: '/Scripts/Filemanager/index.html?type=Images',
            filebrowserFlashBrowseUrl: '/Scripts/Filemanager/index.html?type=Flash',
            removePlugins: 'about'
        });
    }
</script>

@(Html.Telerik().Grid<relmon.Models.dashboard_text>()
        .HtmlAttributes(new { style = "width:inherit" })
        .Name("News")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands
            .Custom()
            .HtmlAttributes(new { id = "addNews" })
            .Text("Add News")
            .Ajax(true)
            .Action("add", "DashboardText")
        )
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "DashboardText", new { tipe = "news" })
                .Delete("_DeleteAjaxEditing", "DashboardText", new { tipe = "news" });
        })
        .Columns(columns =>
        {
            columns.Bound(x => x.kategori).Width(100).Title("Kategori");
            columns.Bound(x => x.tgl_update).Width(100).Title("Tgl Update").Format("{0:dd MMM yyyy}");
            columns.Bound(x => x.poster_username).Width(100).Title("Poster");
            columns.Bound(x => x.ringkasan).Width(300).Title("Ringkasan");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Text);
                commands.Custom("EditNews")
                        .Text("Edit")
                        .DataRouteValues(route => route.Add(o => o.id).RouteKey("id"))
                        .Ajax(true)
                        .Action("GetDetail", "DashboardText");

            }).Width(100).Title("Commands").HtmlAttributes(new { style = "text-align: center" });
        })
        .ClientEvents(
            events => events
                .OnComplete("OnComplete")
        )
        .Pageable(p => p.PageSize(15))
        .Sortable(s => s.OrderBy(o => o.Add("tgl_update").Descending()))
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
<br />

@(Html.Telerik().Window()
    .Name("AddNews")
    .Visible(false)
    .Title("Add News")
    .Modal(true)
    .Width(800)
    .Height(400)
    .Draggable(true)
    .ClientEvents(events => events.OnLoad("ckEditorLoadNews"))
    .Content(@<text>
        <div class="info">
		    <input id="id" type="hidden" name="id" value="" />
		    <input id="poster_user_id" type="hidden" name="poster_user_id" value="" />
                
		    <div class="info_inside_left">Kategori </div>
		    <div class="infoFieldinput"><input id="kategori" type="text" name="kategori" value="" /></div>
                
		    <div class="info_inside_left">Ringkasan </div>
		    <div class="infoFieldinput"><input id="ringkasan" type="text" name="ringkasan" value="" /></div>

            <br />

            <textarea cols='80' id='kontenNews' name='konten' rows='10'></textarea>
            <p class='submit'>
		        <input name='Submit' value='Add' type='submit' onclick='SaveNews();' />
	        </p>
	    </div>
        </text>)
    )
    

@(Html.Telerik().Window()
    .Name("EditNews")
    .Visible(false)
    .Title("Edit News")
    .Modal(true)
    .Width(800)
    .Height(400)
    .Draggable(true)
    .ClientEvents(events => events.OnLoad("ckEditorLoadEditNews"))
    .Content(@<text>
        <div class="info">
		    <input id="edit_id" type="hidden" name="id" value="" />
		    <input id="edit_poster_user_id" type="hidden" name="poster_user_id" value="" />
                
		    <div class="info_inside_left">Kategori </div>
		    <div class="infoFieldinput"><input id="edit_kategori" type="text" name="kategori" value="" /></div>
                
		    <div class="info_inside_left">Ringkasan </div>
		    <div class="infoFieldinput"><input id="edit_ringkasan" type="text" name="ringkasan" value="" /></div>

            <br />

            <textarea cols='80' id='edit_kontenNews' name='konten' rows='10'></textarea>
            <p class='submit'>
		        <input name='Submit' value='Save' type='submit' onclick='EditNews();' />
	        </p>
	    </div>
        </text>)
        )