@model IEnumerable<relmon.Models.user>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    /*function onEdit(e) {
        var popup = $("#" + e.currentTarget.id + "PopUp");
        //get the data window contained by the popup
        var popupDataWin = popup.data("tWindow");
        console.log(popupDataWin);
        if (e.mode == 'edit') {
            //change popup title by calling the title 
            popupDataWin.title('Edit User');
        } else {
            popupDataWin.title('Add User');
        }
        //center the window by calling the method center
        popupDataWin.center();
    }*/

    function OnRowDataBound(e) {
        var dataItem = e.dataItem;
        var row = e.row;
        if (dataItem.rm_role == 1) {
            row.cells[3].innerHTML = 'Admin data input';
        } else {
            row.cells[3].innerHTML = 'Admin data master';
        }

    }

    function OnComplete(e) {
        if (e.name == null) {
            var detailWindow = $("#AddUser").data("tWindow");
            detailWindow.center().open();
        } else {
            if (e.name == "EditUser") {
                var detailWindow = $("#EditUser").data("tWindow");
                user = e.response;
                $.each(user, function (index, value) {
                    if(index != "password"){
                        $('#edit_' + index).val(value);
                    }
                });
                detailWindow.center().open();
            } 
        }
    }

    function SaveUser() {

        if ($('#username').val() == '') {
            alert('Username masih kosong');
            return;
        }

        if ($('#password').val() == '') {
            alert('Password masih kosong');
            return;
        }

        if ($('#password').val() != $('#confirmpassword').val()) {
            alert('Password tidak sama');
            return;
        }

        var values =
        {
            "username"          : $('#username').val(),
            "password"          : $('#password').val(),
            "confirmpassword"   : $('#confirmpassword').val(),
            "fullname"          : $('#fullname').val(),
            "jabatan"           : $('#jabatan').val(),
            "rm_role"           : $('#role').val()
        }

        $.post("User/Create", values, function (data) {
            alert('Data tersimpan');
            var grid = $('#User').data('tGrid');
            grid.ajaxRequest();
            $("#AddUser").data("tWindow").close();
        });
    }

    function EditUser() {

        if ($('#password').val() != $('#confirmpassword').val()) {
            alert('Password tidak sama');
            return;
        }

        var values =
        {
            "username": $('#edit_username').val(),
            "password": $('#edit_password').val(),
            "confirmpassword": $('#edit_confirmpassword').val(),
            "fullname": $('#edit_fullname').val(),
            "jabatan"       : $('#edit_jabatan').val(),
            "rm_role": $('#edit_rm_role').val()
        }

        $.post("User/update", values, function (data) {
            alert('Data tersimpan');
            var grid = $('#User').data('tGrid');
            grid.ajaxRequest();
            $("#EditUser").data("tWindow").close();
        });
    }

</script>

<h2>User Management</h2>
<hr />

@(Html.Telerik().Grid<relmon.Models.user>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("User")
        .DataKeys(keys =>
        {
            keys.Add(p => p.username);
        })
        .ToolBar(commands => commands
            .Custom()
            .HtmlAttributes(new { id = "addUser" })
            .Text("Add User")
            .Ajax(true)
            .Action("addUser", "User")
        )
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "User")
                .Delete("_DeleteAjaxEditing", "User");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.username).Width(150).Title("Username");
            columns.Bound(o => o.fullname).Title("Fullname");
            columns.Bound(o => o.jabatan).Title("Jabatan");
            columns.Bound(o => o.rm_role).Title("Role");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Text);
                commands.Custom("EditUser")
                        .Text("Edit")
                        .DataRouteValues(route => route.Add(o => o.username).RouteKey("id"))
                        .Ajax(true)
                        .Action("GetDetail", "User");

            }).Width(100).Title("Commands").HtmlAttributes(new { style = "text-align: center" });

        })
        .ClientEvents(
            events => events
                .OnRowDataBound("OnRowDataBound")
                .OnComplete("OnComplete")
        )
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
)

@(Html.Telerik().Window()
    .Name("AddUser")
    .Visible(false)
    .Title("Add User")
    .Modal(true)
    .Width(400)
    .Height(280)
    .Content(@<text>
               <div class="info">
		            <div class="info_inside_left">Username </div>
		            <div class="infoFieldinput"><input id="username" type="text" name="username" value="" /></div>
		
                    <div class="info_inside_left">Password</div>
		            <div class="infoFieldinput"><input id="password" type="password" name="password" value="" /></div>

                    <div class="info_inside_left">Confirm Password</div>
		            <div class="infoFieldinput"><input id="confirmpassword" type="password" name="confirmpassword" value="" /></div>

		            <div class="info_inside_left">Fullname </div>
		            <div class="infoFieldinput"><input id="fullname" type="text" name="fullname" value="" /></div>
		
		            <div class="info_inside_left">Jabatan </div>
		            <div class="infoFieldinput"><input id="jabatan" type="text" name="jabatan" value="" /></div>
		
		            <div class="info_inside_left">Role</div>
		            <div class="infoFieldinput">
                        <select name="role" id="role">                        
                            <option value="0">Admin data master</option>
                            <option value="1">Admin data input</option>
                        </select>
                    </div>

	            <p class="submit">
		            <input name="Submit" value="Add" type="submit" onclick="SaveUser();" />
	            </p>
	         </div>
        </text>)
)

@(Html.Telerik().Window()
    .Name("EditUser")
    .Visible(false)
    .Title("Edit User")
    .Modal(true)
    .Width(400)
    .Height(250)
    .Content(@<text>
               <div class="info">
                <div class="info_inside_left">Fullname </div>
		            <div class="infoFieldinput"><input id="edit_fullname" type="text" name="fullname" value="aan ann" /></div>

		            <div class="info_inside_left" style="display:none">Username </div>
		            <div class="infoFieldinput" style="display:none"><input id="edit_username" type="text" name="username" value="aan" /></div>
		
                    <div class="info_inside_left">Password</div>
		            <div class="infoFieldinput"><input id="edit_password" type="password" name="password" value="" /></div>

                    <div class="info_inside_left">Confirm Password</div>
		            <div class="infoFieldinput"><input id="edit_confirmpassword" type="password" name="confirmpassword" value="" /></div>	            
		
		            <div class="info_inside_left">Jabatan </div>
		            <div class="infoFieldinput"><input id="edit_jabatan" type="text" name="jabatan" value="direktur" /></div>
		
		            <div class="info_inside_left">Role</div>
		            <div class="infoFieldinput">
                        <select name="edit_rm_role" id="edit_rm_role">                        
                            <option value="0">Admin data master</option>
                            <option value="1">Admin data input</option>
                        </select>
                    </div>

	            <p class="submit">
		            <input name="Submit" value="Save" type="submit" onclick="EditUser();" />
	            </p>
	         </div>
        </text>)
)