<ul>
    <li>
        LNG
    </li>
    <li>
        LPG
    </li>
    <li>
        CNG
    </li>
    <li>
        Shale Gas
    </li>
    <li>
        Renewable Energy
        <ul>
            <li>
                 Bio Mass
            </li>
            <li>     
                 Wind
            </li>
            <li>
                 Solar Cell
            </li>
            <li>
                 Geothermal
            </li>
        </ul>
    </li>
    <li>
        CBM
    </li>
</ul>
